@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.main {
    height: 100vh;
    width: auto;
    background-color: #355b3e;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content {
    width: 70%;
    height: 80vh;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top {
    display: none;
}

.ilustration {
    background-color: #f5dbc4;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-size: contain;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ilustration img {
    width: 50%;
}

/* ================== */

.login-container {
    padding: 50px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: start;
    color: #355B3E;
    padding: 15px 0px 15px 0px;
}

.title img {
    width: 42px;
}

.title h1 {
    font-size: 32px;
    font-weight: 600;
}

.text h2 {
    color: #355B3E;
    font-size: 24px;
    font-weight: 600;
    padding: 15px 0px 15px 0px;
}

.text p {
    color: #355B3E;
    font-size: 14px;
    font-weight: 400;
}

.email-form {
    display: grid;
    padding: 15px 0px 15px 0px;
}

.label-email p {
    font-size: 14px;
    font-weight: 600;
    color: #2F3D4C;
    ;
    margin-bottom: 5px;
}

.email-input {
    border-radius: 8px;
    border: 0.5px solid #B8D6BF;
    width: auto;
    height: 24px;
    padding: 10px;
}

.pw-form {
    display: grid;
    padding: 0px 0px 15px 0px;
}

.label-pw p {
    font-size: 14px;
    font-weight: 600;
    color: #355B3E;
    margin-bottom: 5px;
}

.pw-input {
    border-radius: 8px;
    border: 0.5px solid #B8D6BF;
    width: 94%;
    height: 24px;
    padding: 10px;
}

.toggle-password {
    position: absolute;
    top: 62%;
    right: 57%;
    transform: translateY(-50%);
    cursor: pointer;
    background-image: url('./assets-1/off.png');
    /* Replace with the path to your eye icon image */
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
}

.checkBox-form {
    display: flex;
    justify-content: space-between;
}

.pw-group {
    width: 100%;
}

.form input[type="checkbox"] {
    accent-color: #029765;
}

.form-input label {
    color: #355B3E;
    font-size: 16px;
    font-weight: 400;
}

.checkBox-form a {
    color: #355B3E;
    font-size: 16px;
    font-weight: 400;
}


.btn-lg-sgnp {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
}

.btn-lg-sgnp .login-btn {
    background-color: #029664;
    color: white;
    border: none;
    width: 150px;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}

.btn-lg-sgnp .login-btn:hover {
    background-color: #007950;
}

.btn-lg-sgnp .Signup-btn {
    background-color: transparent;
    color: #029664;
    border: 0.5px solid #029664;
    width: 150px;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}


.btn-lg-sgnp .Signup-btn:hover {
    background-color: ghostwhite;
}

.footer {
    display: flex;
    gap: 10px;
    padding: 10px 0px 10px 0px;
}

.footer p {
    color: #58745E;
    font-size: 16px;
    font-weight: 400;
}

.footer .facebook {
    color: #355B3E;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.footer .linkedIn {
    color: #355B3E;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.footer .google {
    color: #355B3E;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}


/* =============== */

@media only screen and (max-width: 600px) {
    .container {
        display: grid;
        flex-direction: column-reverse;
        background-color: white;
    }

    .content {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        width: auto;
    }

    .login-container {
        padding: 20px;
    }

    .ilustration {
        background-color: #f5dbc4;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ilustration img {
        width: 40%;
        margin: 10px;
        padding: 10px;
    }

    .title {
        display: none;
    }

    .top {
        display: flex;
        width: 100%;
        height: 50%;
        background-color: #355B3E;
        text-align: center;
        align-items: center;
        justify-content: center;

    }

    .text h2 {
        font-size: 18px;
        font-weight: 600;
    }

    .top img {
        width: 40px;
    }

    .top h1 {
        color: white;
    }

    .btn-lg-sgnp {
        gap: 10px;
    }

    .footer {
        display: grid;
        justify-items: center;
        align-items: center;
    }

    .medsos {
        display: inline;
        gap: 10px;
    }

    .toggle-password {
        display: none;
    }
}