@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.main {
    background-color: #D6E4EF;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    padding: 10px;
}

.title {
    display: flex;
    align-items: center;
}

.title h1 {
    font-size: 32px;
    font-weight: 600;
}

.content {
    height: auto;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.253);
    background: linear-gradient(white, #d7e4ef);
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.cover img {
    width: 100%;
}

.profil {
    top: 220px;
    position: absolute;
    display: flex;
    justify-content: last baseline;
    align-items: baseline;
}

.profil img {
    width: 90px;
}

.profil p {
    font-size: 20px;
    font-weight: 400;
    color: #2F3D4C;
}

.profil span {
    font-weight: 600;
    color: #D90327;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: auto;
}

.email {
    display: flex;
    flex-direction: column;
}

.email label {
    font-size: 15px;
    font-weight: 500;
    color: #2F3D4C;

}

.email .input-email {
    padding: 10px 5px 10px 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid grey;
}

.pw {
    display: flex;
    flex-direction: column;
}

.pw label {
    font-size: 15px;
    font-weight: 500;
    color: #2F3D4C;

}

.pw .input-pw {
    padding: 10px 5px 10px 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid grey;
}

.btn-group {
    padding: 10px;

    margin-bottom: 10px;
}

.rember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rember-forgot a {
    color: #1F2832;
    font-size: 16px;
    font-weight: 400;
}



.checkbox-btn input[type="checkbox"] {
    accent-color: #D90327;
}


.login-btn {
    width: 100%;
    background-color: #D90327;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}

.btn-group p {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

.sec-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.sec-btn .new-user-btn {
    background: #2F3D4C;
    border: none;
    color: white;
    padding: 10px;
    width: 50%;
    font-weight: 600;
    border-radius: 5px;
}

.sec-btn .signup-btn {
    border: 1px solid #D90327;
    background-color: transparent;
    padding: 10px;
    width: 50%;
    color: #D90327;
    font-weight: 600;
    border-radius: 5px;
}


@media only screen and (max-width: 600px) {


    /* .container {}


    .content {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        background-color: white;
        padding: 20px;
        display: flex;
        gap: 20px;
        flex-direction: column;
    } */

    .profil{
        top:265px;
    }

    .main {
        background-color: #D6E4EF;
        width: 100%;
        height: auto;
    }

    .form {
        padding-top: 40px;
    }

    .sec-btn .new-user-btn {
        background: #2F3D4C;
        border: none;
        color: white;
        padding: 8px;
        width: 50%;
        border-radius: 5px;
    }

    .sec-btn .signup-btn {
        border: 1px solid #D90327;
        background-color: transparent;
        padding: 8px;
        width: 50%;
        color: #D90327;
        border-radius: 5px;
    }
}