@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

main {
    height: 100vh;
}

/* =================================== */

.main-screen {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.788)), url('/Assets/Assets/main-bg.jpg');
    background-size: cover;
    background-position: center center;
    box-shadow:
        inset 0px 11px 8px -10px #000000,
        inset 0px -20px 40px 8px #000000;
}

nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    justify-content: space-evenly;
}

.navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.50);
    justify-content: space-around;
    padding: 15px;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}


.togle-button {
    display: none;
}

.nav {
    display: flex;
    gap: 4;
    list-style: none;
    padding: 4px;
    margin: 5px;
}


.bar-toggle {
    display: none;
}

input[type=checkbox] {
    display: none;
}

/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

.nav-mobile {
    display: none;
    gap: 4;
    list-style: none;
    padding: 4px;
    margin: 5px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.nav li a {
    color: white;
    size: 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    margin: 5px;
}

.auth {
    display: flex;
    padding: 4px;
    margin: 5px;
}

.auth li {
    color: white;
    font-weight: 600;
    font-size: 12px;
    margin: 5px;
    list-style: none;
}





/* =========================================== */

.jumbo-tron {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.text-main {
    font-size: 72px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.text-sec {
    size: 24px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin: 30px;
}

.jumbo-tron .btn {
    border: none;
    border-radius: 3px;
    margin: 5px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #fab340;
}

.jumbo-tron .btn:hover {
    background-color: rgb(255, 173, 42);
    transform: translateY(-5%);
}

.jumbo-tron .btn p {
    padding: 5px 20px 5px 20px;
    font-weight: 700;
    margin: 5px;
    font-size: 16px;
}

.scroll-down {
    bottom: 0;
    position: absolute;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: up-down 1s ease-in-out infinite alternate-reverse both;
    text-decoration: none;

}

.scroll-down h3 {
    color: white;
    font-weight: 700;
    font-size: 12px;
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(-8px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(-8px);
    }
}



/* =============== */
.page-the-game {
    height: 100%;
    background-image: radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('/Assets/Assets/the-games-bg.jpg');
    background-size: cover;
}

.content-2 {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.content-2 .game-text {
    color: white;
    margin: -100px 20px 120px 20px;
    font-weight: 300;
    font-size: 24px;
}

.content-2 .game-text h1 {
    font-size: 56px;
    font-weight: 400;
}

.content-2 .game-content img {
    width: 750px;
}

.game-content {
    width: 50%;
    height: fit-content;
}

.about-img {
    width: auto;
    aspect-ratio: 2.2 / 1;
}

/* =========== */

.page-features {
    height: 100vh;
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.89)), url('/Assets/Assets/img-feature.png');
    background-size: cover;
}

.content-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.togle-button {
    display: none;
}

.content-3 .feature-text .text-1 p {
    color: white;
    font-weight: 400;
    font-size: 24px;
    word-spacing: 2px;
}

.content-3 .feature-text .text-1 h1 {
    color: white;
    font-weight: 400;
    font-size: 56px;
    letter-spacing: 3px;
}


.list-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.line {
    margin-top: 10px;
    transform: translateX(-300%);
}



.list-2 {
    display: flex;
    transform: translatey(-126%);
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-3 {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-feature {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.circle-1::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    margin-top: 10px;
    background-color: white;
}

.circle-2::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    margin-top: 10px;
    background-color: transparent;
    border: white solid 1px;
}

.list-1 .texting h1 {
    padding-left: 5px;
    color: #fab340;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 2px;
}

.texting h1 {
    padding-left: 5px;
    color: #fab340;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 2px;
}

.list-1 .texting p {
    padding-left: 5px;
    color: white;
    font-weight: 400;
    letter-spacing: 4;
}


/* ================================== */

.page-requirements {
    height: 100vh;
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.89)), url(/Assets/Assets/requirements.png);
    background-size: cover;
    background-position: center center;
    padding: 75px;
}

.text-center {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 14px;
}

.content-4 {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.systm-req {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.title-req {
    color: white;
    font-weight: 400;
    font-size: 56px;
    letter-spacing: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.grid-container {
    display: grid;
}

.grid-container .req-item-1 {
    border: 1px solid rgba(128, 128, 128, 0.685);
    padding: 10px;
}

.grid-container .req-item-2 {
    border: 1px solid rgba(128, 128, 128, 0.685);
    padding: 10px;
}

.grid-container .req-item-3 {
    border: 1px solid rgba(128, 128, 128, 0.685);
    padding: 10px;
}

.grid-container .req-item-4 {
    border: 1px solid rgba(128, 128, 128, 0.685);
    padding: 10px;
}

.grid-container .req-item-5 {
    border: 1px solid rgba(128, 128, 128, 0.685);
    padding: 10px;
    grid-column: 1 / span 2;
}

.req-title {
    font-weight: 400;
    font-weight: 24px;
    letter-spacing: 2px;
    text-align: start;
    margin: 5px;
    color: #fab340;
}

.req-text {
    color: white;
    font-weight: 400;
    font-size: 18px;
    text-align: start;
}


.sys-judul {
    color: #fab340;
    font-weight: 400;
    font-weight: 24px;
    letter-spacing: 2px;
    text-align: start;
    margin: 5px;
}

.sys-text {
    color: white;
    font-weight: 400;
    font-size: 18px;
    text-align: start;
}

/* ============================== */


.quotes {
    height: 100vh;
    background: radial-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.897), rgb(0, 0, 0)), url(/Assets/Assets/bg-black-papper.jpeg);
    background-size: cover;
    background-position: center center;
    ;
}

.content-5 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-qts {
    color: white;
    font-weight: 400;
    font-size: 56px;
}

.text-qts {
    color: white;
    font-weight: 400;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
}


.qts-text .btn p {
    font-weight: 700;
    font-size: 16px;
    background-color: #fab340;
}

.qts-text .btn {
    width: 150px;
    justify-content: center;
    border-radius: 5px;
    display: flex;
    background-color: #fab340;
    padding: 10px;
}


.card {
    background-color: #1a1c1d;
    width: auto;
    border-radius: 10px;
    width: auto;
    padding: 15px;
    margin: 15px;
}

.card2 {
    background-color: #1a1c1d;
    width: auto;
    width: auto;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 65px;
}

.profil .foto-pp {
    box-shadow: 4px 5px 0px 1px rgb(254, 180, 72);
    -webkit-box-shadow: 4px 5px 0px 1px rgba(255, 174, 39, 0.75);
    -moz-box-shadow: 4px 5px 0px 1px rgba(255, 174, 39, 0.75);
}

.username {
    color: #fab340;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 2px;
}

.title-user {
    color: #8c8c8d;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
}

.desc {
    padding-left: 10px;
    padding-right: 10px;
    align-self: self-start;
    padding-right: 60px;
}

.profil {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.quotes-title {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.date {
    color: #7f7f7e;
}


/* =========================== */


.newslatter {
    height: 100vh;
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.651)), url(/Assets/Assets/newsletter.png);
    background-size: cover;
    background-position: center center;
}


.content-6 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.news-text-1 {
    color: white;
    font-weight: 400;
    font-size: px;
    letter-spacing: 2px;
}

.news-title {
    color: white;
    font-weight: 400;
    font-size: 65px;
    letter-spacing: 3px;
}

.news-text-2 {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.group-btn-news {
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
}

.group-btn-news .btn p {
    font-weight: 700;
    font-size: 15px;
    background-color: #fab340;
}

.group-btn-news .btn {
    width: 140px;
    height: 26px;
    justify-content: center;
    border-radius: 5px;
    display: flex;
    background-color: #fab340;
    padding: 10px;
    margin-left: 10px;
}


.inpt {
    background-color: #1d1f1f;
    border: none;
    margin-top: 5px;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;

}


/* footer */

.footer {
    background-color: #070809;

}

.foot-flex {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.foot-flex p {
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.cpy {
    display: flex;
    justify-content: space-between;
}

.cpy h2 {
    color: gray;
    font-weight: 500;
    font-size: 12px;
}


/* =================================== responsive ====================================== */

@media screen and (max-width: 600px) {


    /*  ================== navbar ================ */

    .navbar {
        justify-content: space-between;
    }

    .togle-button {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .bar-toggle {
        display: block;
    }

    .nav-mobile {
        display: flex;
        position: absolute;
        width: 100%;
        flex-direction: column;
        justify-items: center;
        background-color: rgba(0, 0, 0, 0.50);
        align-items: center;
        padding: 5px;
        margin: 0;
        -webkit-transition: all 0.6s ease-out;
        -moz-transition: all 0.6s ease-out;
        -o-transition: all 0.6s ease-out;
        -ms-transition: all 0.6s ease-out;
        transition: all 0.6s ease-out;

        /* transform: translatey(-150%); */
        transform: translateX(150%);
    }

    .show {
        /* transform: translatey(0%); */
        transform: translateX(0%);
    }

    .nav {
        display: none;
    }

    .nav-mobile li a {
        text-decoration: none;
        color: white;
    }

    .auth {
        display: none;
    }

    .nav_link {
        position: relative;
    }

    /*  ================== main-screen ================ */

    .jumbo-tron .text-main {
        font-size: 40px;
    }


    /*  ================== page-the-game ================ */
    .content-2 {
        display: flex;
        flex-direction: column;
    }

    .game-text {
        /* margin: px 20px 120px 20px; */
        justify-content: center;
        font-weight: 300;
        font-size: 12px;
    }

    .game-text h1 {
        font-size: 24px;
        font-weight: 400;
    }

    /* =================== page-features ================== */

    .content-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .content-3 .feature-text .text-1 h1 {
        font-size: 36px;
        font-weight: 500;
    }

    .content-3 .feature-text .text-1 p {
        color: white;
        font-weight: 400;
        font-size: 20px;
        word-spacing: 2px;
    }

    /* ================= page-requirements */

    .page-features {
        background-position: center;
        background-size: cover;
        height: 80vh;
    }

    .title-req {
        color: white;
        font-weight: 500;
        font-size: 24px;
        letter-spacing: 4px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .content-4 {
        width: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
    }

    .req-item-1 {
        grid-column: 1;
        border: 0px;
    }

    .req-item-2 {
        grid-column: 1;
    }

    .req-item-3 {
        grid-column: 1;
    }

    .req-item-4 {
        grid-column: 1;
    }

    .req-item-5 {
        grid-column: 1;
    }

    .req-title {
        color: #fab340;
        font-weight: 500;
        font-size: 24px;
        text-align: start;
        margin: 5px;
    }

    .req-text {
        color: white;
        font-weight: 500;
        font-size: 12px;
        text-align: start;
    }

    /* ==================== pages quotes ===================== */

    .group-card {
        padding: 15px;
    }

    .quotes {
        height: auto;
        padding: 10px;
    }

    .content-5 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .qts-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: center;
        align-items: center;
    }

    .text-qts {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .title-qts {
        font-size: 24px;
        font-weight: 700;
    }

    .card-1 {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .card-2 {
        padding: 0;
        margin: 0;
    }

    .username {
        color: #fab340;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 2px;
    }

    .pp-1 {
        width: 50px;
    }

    .pp-2 {
        width: 50px;
    }

    .pp-3 {
        width: 50px;
    }

    /* ================ pages newslater =============== */

    .news {
        padding: 10px;
    }

    .news-text-1 {
        font-size: 20px;
        text-align: center;
    }

    .news-title {
        font-size: 40px;
        font-weight: 500;
        text-align: center;
    }

    .news-text-2 {
        font-size: 16px;
        text-align: start;
        word-spacing: 1px;
        padding: 10px;
        font-weight: 500;
    }

    .group-btn-news {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .group-btn-news .btn {
        margin: 10px;
    }

    /* ========= foooter ============ */

    .footer {
        height: auto;
    }

    .foot-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 20px;
    }

    .cpy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 10px;
    }
}