@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-y: hidden;
}

:root {
    /* background main */
    --bg-1-main: #3b4664;
    --bg-2-main: #e6e6e6;
    --bg-3-main: #170726;

    /* bacground screen */
    --bg-1-sec: #181e33;
    --bg-2-sec: #eeeeee;
    --bg-3-sec: #1f0936;

    /* backgorund box-btn & toggle */
    --bg-3-box-1: #242d45;
    --bg-3-box-2: #d2cccd;
    --bg-3-box-3: #1e0836;


    /* number background color */
    --num-bg-color-1: #eae2db;
    --num-bg-color-2: #e5e4e0;
    --num-bg-color-3: #331b4d;

    /* number background color sec */
    --num-bg-color-sec-1: #63719b;
    --num-bg-color-sec-2: #3b8085;
    --num-bg-color-sec-3: #56067d;

    /* number background shadow first */
    --num-shadow-1: #b1a599;
    --num-shadow-2: #a59c97;
    --num-shadow-3: #78278b;

    /* number background shadow sec */
    --num-shadow-sec-1: #454e74;
    --num-shadow-sec-2: #1e5e64;
    --num-shadow-sec-3: #b11fe2;

    /* toggle btn */
    --toggle-btn-1: #d13f30;
    --toggle-btn-2: #b34c02;
    --toggle-btn-3: #0b8d84;

    /* toggle btn */
    --toggle-btn-shadow-1: #8a271b;
    --toggle-btn-shadow-2: #833605;
    --toggle-btn-shadow-3: #7cedee;

    /* number color */
    --color-1: #434950;
    --color-2: #393830;
    --color-3: #fbe84b;

    /* default wht color */
    --white: #f8faf8;
}

/* ========================= theme */


.main {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-1-main);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: auto;
    width: 60vh;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 10px;
}

/* ================= header ================== */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    color: var(--white);
    font-weight: 600;
    font-size: 24px;
}

/* ================= screen ================== */

.screen {
    border-radius: 8px;
    background-color: var(--bg-1-sec);
    width: auto;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
    color: white;
}

.screen input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: white;
    font-size: 40px;
    text-align: end;
    font-weight: 700;
}

/* ================= box-btn ================== */

.box-btn {
    height: auto;
    background-color: var(--bg-3-box-1);
    border-radius: 8px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
}

.btn-num-span-1 {
    grid-column: span 2;
}

.btn-num-span-2 {
    grid-column: span 2;
}

/* number button first */

.btn-num {
    width: auto;
    height: 40px;
    border-radius: 8px;
    color: var(--color-1);
    padding: 23px 10px 23px 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--num-bg-color-1);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 3px solid var(--num-shadow-1);
    font-weight: 700;
    font-size: 22px;
}

.btn-num:hover {
    transform: translatey(0px);
}

.btn-num:active {
    transform: translatey(2px);
}


/* number button sec */

.del-btn {
    width: auto;
    height: 40px;
    border-radius: 8px;
    padding: 23px 10px 23px 10px;
    color: var(--white);
    background-color: var(--num-bg-color-sec-1);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 3px solid var(--num-shadow-sec-1);
    font-weight: 700;
    font-size: 20px;
}

.del-btn:hover {
    transform: translateY(0px);
}

.del-btn:active {
    transform: translatey(2px);
}

.reset-btn {
    width: auto;
    height: 40px;
    border-radius: 8px;
    padding: 23px 10px 23px 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--white);
    background-color: var(--num-bg-color-sec-1);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 3px solid var(--num-shadow-sec-1);
    font-weight: 700;
    font-size: 20px;
}

.reset-btn:focus {
    transform: translateY(0px);
}

.reset-btn:active {
    background-color: #586488;
    transform: translatey(2px);
}

.equal-btn {
    width: auto;
    height: 40px;
    border-radius: 8px;
    padding: 23px 10px 23px 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--white);
    background-color: var(--toggle-btn-1);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 3px solid var(--toggle-btn-shadow-1);
    font-weight: 500;
    font-size: 22px;
}

.equal-btn:focus {
    transform: translateY(0px);
}

.equal-btn:active {
    transform: translatey(2px);
}


/* ==================== toggle btn =============== */

.redButton.horizTranslate2 {
    -webkit-transition: -webkit-transform 0.1s linear;
    -webkit-transform: translateX(20px);
}

.redButton.horizTranslate3 {
    -webkit-transition: -webkit-transform 0.1s linear;
    -webkit-transform: translateX(40px);
}

.redButton.horizTranslate1 {
    -webkit-transition: -webkit-transform 0.1s linear;
    -webkit-transform: translateX(0px);
}

#outerContainer {
    position: relative;
    width: 111px;
    height: 98px;
}

#buttonContainer {
    background-color: #222D41;
    width: 71px;
    height: 28px;
    position: relative;
    left: 20px;
    top: 45px;
    border-radius: 14px;
}

.redButton {
    width: 16px;
    height: 16px;
    background-color: #DB3D2B;
    border-radius: 8px;
    position: relative;
    top: 6px;
    left: 6px;
}

#legendTextContainer {
    left: 22px;
    display: inline-block;
    position: absolute;
    top: 23px;
    color: #ffffff;
    font-family: Arial;
    font-size: 10pt;
    text-align: center;
}

.legendText {
    display: inline-block;
    width: 20px;
    padding-bottom: 33px;
    cursor: default;
    user-select: none;
}