@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow-y: hidden;
}

.main {
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 100%;
}

.cover {
    background: #191b25;
    height: 100%;
    width: 50%;
}

.cover-mobile {
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 70%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


/* -------------- */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background: white;
    height: 100%;
    width: 50%;
}

.container-form {
    padding: 10px;
    gap: 20px;
}

.title {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #3E334E;
    font-weight: 600;
    font-size: 20px;
    align-self: flex-start;

}

.text p {
    text-align: start;
    color: #3E334E;
    font-weight: 500;
    font-size: 16px;
    align-items: start;
    padding: 20px 0px 20px 0px;
}

.form-login {
    gap: 20px;
    padding: 10px;
}

.form-login h1 {
    font-weight: 600;
    font-size: 24px;
    color: #3E334E;
    padding: 20px 0px 20px 0px;
}

.form-email {
    display: flex;
    flex-direction: column;
}

.form-email label {
    font-size: 16px;
    color: #3E334E;
    font-weight: 500;
}

.form-email .input-email {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #aea3c2;
}

.form-password {
    display: flex;
    flex-direction: column;
}

.form-password label {
    font-size: 16px;
    color: #3E334E;
    font-weight: 500;
}

.form-password .input-password {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #aea3c2;
}

.group-check-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rememberme-box input[type="checkbox"] {
    accent-color: #3E334E;
}

.rememberme-box {
    padding: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.forgot-password {
    font-weight: 400;
    font-size: 16px;
    color: #3E334E;
}

.group-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.group-btn .login {
    padding: 10px 15px 10px 15px;
    background-color: #3E334E;
    width: 50%;
    border-radius: 5px;
    border: none;
    color: white;

}

.group-btn .signup {
    padding: 10px 15px 10px 15px;
    background-color: transparent;
    width: 50%;
    font-weight: 500;
    border-radius: 5px;
    color: #3E334E;
    border: 1px solid #3E334E;

}

.other-login {
    gap: 10px;
    padding: 10px;
}

.other-login p {
    color: #3E334E;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

.other-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.other-btn .medsos-btn {
    padding: 10px 15px 10px 15px;
    background-color: transparent;
    width: 50%;
    font-weight: 500;
    border-radius: 5px;
    color: #3E334E;
    border: 1px solid #3E334E;
}

@media only screen and (max-width: 600px) {
    .cover {
        display: none;
    }

    .container {
        flex-direction: column;
        width: auto;
    }

    .content {
        width: 100%;
    }

    .cover-mobile {
        background: url(/assets-3/cover-mobile.png);
        width: 100%;
        display: block;
        overflow: hidden;
    }
}